<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <form action="" method="POST">
            <label>Username</label>
            <input type="text" placeholder="Enter your password">
            <label>Password</label>
            <input type="password" placeholder="Enter your password">
            <button type="submit"><span>Login</span></button>
            <button type="submit"><span>Register</span></button>
        </form>
    </body>
</html>